.TweetAuthor-screenName {
    font-size: 10px !important;
    line-height: 18px;
    font-weight: 300
}
.SandboxRoot.env-bp-min .TweetAuthor-screenName:before {
    white-space: pre;
    content: "\A\200e"
}
.SandboxRoot.env-bp-330 .TweetAuthor-screenName,
.SandboxRoot.env-bp-430 .TweetAuthor-screenName,
.SandboxRoot.env-bp-550 .TweetAuthor-screenName {
    font-size: 11px !important;
    line-height: 18px !important;
}
.SandboxRoot.env-bp-660 .TweetAuthor-screenName,
.SandboxRoot.env-bp-820 .TweetAuthor-screenName,
.SandboxRoot.env-bp-970 .TweetAuthor-screenName {
    font-size: 13px !important;
    line-height: 18px !important;
}


.TweetAuthor-name {
    font-size: 10px !important;
    line-height: 18px;
    font-weight: 700 !important;
}
.SandboxRoot.env-bp-330 .TweetAuthor-name,
.SandboxRoot.env-bp-430 .TweetAuthor-name,
.SandboxRoot.env-bp-550 .TweetAuthor-name {
    font-size: 12px !important;
    line-height: 18px !important;
}
.SandboxRoot.env-bp-660 .TweetAuthor-name,
.SandboxRoot.env-bp-820 .TweetAuthor-name,
.SandboxRoot.env-bp-970 .TweetAuthor-name {
    font-size: 16px !important;
    line-height: 27px !important;
}

.SandboxRoot.env-bp-970 .timeline-Tweet-actions,
.SandboxRoot.env-bp-970 .timeline-Tweet-media,
.SandboxRoot.env-bp-970 .timeline-Tweet-text {
    margin-right: 64px !important;
}
.SandboxRoot.env-bp-660 .timeline-Tweet-actions,
.SandboxRoot.env-bp-660 .timeline-Tweet-media,
.SandboxRoot.env-bp-660 .timeline-Tweet-text,
.SandboxRoot.env-bp-820 .timeline-Tweet-actions,
.SandboxRoot.env-bp-820 .timeline-Tweet-media,
.SandboxRoot.env-bp-820 .timeline-Tweet-text {
    margin-right: 56px !important;
}
.SandboxRoot.env-bp-550 .timeline-Tweet-actions,
.SandboxRoot.env-bp-550 .timeline-Tweet-media,
.SandboxRoot.env-bp-550 .timeline-Tweet-text {
    margin-right: 44px !important;
}
.SandboxRoot.env-bp-970 .timeline-Tweet-text {
    font-size: 15px !important;
    line-height: 21px;
    font-weight: 300;
    display: inline-block !important;
}
.SandboxRoot.env-bp-820 .timeline-Tweet-text {
    font-size: 20px !important;
    line-height: 28px;
    font-weight: 300;
    display: inline-block !important;

}
.SandboxRoot.env-bp-660 .timeline-Tweet-text {
    font-size: 17px !important;
    line-height: 26px !important;
    font-weight: 300;
    display: inline-block !important;
}
.SandboxRoot.env-bp-550 .timeline-Tweet-text {
    font-size: 12px !important;
    line-height: 17px !important;
    font-weight: 300;
    display: inline-block !important;
}
.SandboxRoot.env-bp-330 .timeline-Tweet-text {
    font-size: 8px !important;
    line-height: 10px !important;
    display: inline-block !important;
}
.SandboxRoot.env-bp-430 .timeline-Tweet-text {
    font-size: 12px !important;
    line-height: 16px !important;
    font-weight: 300;
    display: inline-block !important;
}
.SandboxRoot.env-bp-min .timeline-Tweet-text {
    margin-top: 6px !important;
    margin-left: 0 !important;
    font-size: 12px !important;
    line-height: 14px !important;
    display: inline-block !important;
}
.timeline-Tweet-text {
    margin-left: 40px !important;
    margin-bottom: 12px !important;
    font-size: 12px !important;
    line-height: 18px !important;
    font-weight: 400;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: inline-block !important;
}
.timeline-Tweet-text[dir=ltr] {
    text-align: left;
    direction: ltr;
}
.timeline-Tweet-text[dir=rtl] {
    text-align: right;
    direction: rtl;
}
.timeline-TweetList-tweet {
    border-top: none !important;
}
.timeline-TweetList-tweet:first-of-type {
    border-top: none !important;
}
/*================================================*/

ol,
p,
ul {
    margin: 0;
    padding: 0;
    list-style: none !important;
    border: none !important;
}

.timeline {
    max-width: 100% !important;
    width: 100% !important;
}
.timeline .stream {
    max-width: none !important;
    width: 100% !important;
}
.timeline-Widget {
    max-width: 100% !important;
}
iframe[id^='twitter-widget-0'] {
    margin-bottom:10px !important;
    width:100% !important;
}

.timeline-TweetList-tweet{
  min-width: 200px !important;
  max-width: 300px !important;
  list-style: none !important;
  float: left !important;
  margin: 10px !important;
  display: inline-block;
  margin:  0.25rem;
  padding:  1rem;
}
.timeline-TweetList-tweet, .timeline-TweetList-tweet:before, .timeline-TweetList-tweet:after {box-sizing:  border-box !important;}

.timeline-Tweet {
    background: #FF0 ;
    opacity: 0.8 !important;
}

.timeline-Tweet:hover {
    background-color: #ff1 !important;
    opacity: 1 !important;
}

.SandboxRoot{
  background-image: url("https://image.freepik.com/free-vector/grey-linen-texture-background_1053-253.jpg") !important;
  background-position: center;
}

.timeline-Tweet-retweetCredit {
    margin-bottom: 0px !important;
    margin-left: 18px;
    font-size: 12px;
    color: #889ba6
}

.Avatar {
    float: left !important;
    margin-right: 5px !important;
}